.content__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 543px));
  grid-template-rows: repeat(auto-fit, minmax(576px, auto));
  justify-content: space-between;
  gap: 80px 45px;

  @include vp-1279 {
    justify-content: center;
  }

  @include vp-1023 {
    grid-template-columns: repeat(auto-fit, minmax(auto, 280px));
    grid-template-rows: repeat(auto-fit, minmax(302px, auto));
    justify-content: space-between;
    gap: 36px 20px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.content__item {
  background-color: rgba(#18bcbc, 60%);

  &:hover {
    box-shadow: 1px 1px 5px #18bcbc;
  }

  @include vp-767 {
    display: flex;
  }
}

.content__wrapper-icon {
  display: grid;
  grid-template-columns: minmax(auto, 543px);

  @include vp-1023 {
    grid-template-columns: minmax(auto, 280px);
  }

  @include vp-767 {
    grid-template-columns: minmax(auto, 80px);
  }
}

.content__background-icon {
  grid-column: 1;
  grid-row: 1;
}

.content__icon-back {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #18bcbc;
}

.content__icon {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__icon-desktop {
  display: block;
  width: 543px;
  height: 272px;

  @include vp-1023 {
    width: 280px;
    height: 140px;
  }

  @include vp-767 {
    display: none;
  }
}

.content__icon-mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.content__icon-mini {
  width: 136px;
  height: 177px;
  fill: #ffffff;

  @include vp-1023 {
    width: 63px;
    height: 82px;
  }

  @include vp-767 {
    width: 40px;
    height: 52px;
  }
}

.content__icon-tablet {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 30px 54px 30px;

  @include vp-1023 {
    padding: 12px 12px 30px 12px;
    gap: 8px;
  }

  @include vp-767 {
    align-items: start;
    justify-content: center;
  }
}

.content__text h3 {
  color: #ffffff;
  text-align: center;
  font-family: "PTSansCaption-Bold", "Arial", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;

  @include vp-1023 {
    font-size: 20px;
  }

  @include vp-767 {
    text-align: left;
    font-size: clamp(1rem, 0.82rem + 0.47vw, 1.25rem);
  }
}

.content__text p {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;

  @include vp-1023 {
    font-size: 16px;
  }

  @include vp-767 {
    text-align: left;
    font-size: clamp(0.75rem, 0.57rem + 0.47vw, 1rem);/*clamp(0.75rem, 0.571rem + 0.476vw, 1rem)*/
  }
}

