.contacts {
  width: 100%;
  margin-bottom: 170px;
}

.contacts__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1719px;
  padding: 0 50px;
  margin: 0 auto;
}

.contacts__information {
  margin: 50px 0 0;
}

.contacts__map {
  width: 900px;
  height: 808px;
}
