.information h3 {
  color: #18bcbc;
  text-align: center;
  font-size: 60px;
  line-height: normal;
  margin: 0 auto 40px;
  max-width: 462px;
}

.information__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  margin: 0;
}

.information__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.information__item dd {
  color: #18bcbc;
  font-size: 35px;
  line-height: normal;
  margin: 0;
}

.information__item a {
  display: block;
  color: #18bcbc;
  font-size: 35px;
  line-height: normal;
}
