.certificates {
  width: 100%;
  margin-bottom: 170px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 70px;
  }
}

.certificates__content {
  max-width: 1700px;
  margin: 0 auto;
}

.certificates__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
}

.certificates__gallery img {
  max-width: 480px;
  max-height: 480px;
  margin: 5px;
  cursor: pointer;

  @include vp-1023 {
    max-width: 200px;
    max-height: 220px;
  }
}
