@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PTSansCaption-Regular";
  font-display: swap;
  src: url("../fonts/PT_Sans-Caption-Regular.woff") format("woff"),
    url("../fonts/PT_Sans-Caption-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PTSansCaption-Bold";
  font-display: swap;
  src: url("../fonts/PT_Sans-Caption-Bold.woff") format("woff"),
    url("../fonts/PT_Sans-Caption-Bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2");
}
