.title {
  font-family: "PTSansCaption-Bold", "Arial", sans-serif;
  font-weight: 700;
  color: #ffffff;
  line-height: normal;
  font-style: normal;
  background-color: #18bcbc;
  font-size: 50px;
  padding: 42px 100px 43px 166px;
  position: relative;
  margin: 0 0 80px;

  &::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 99px;
    left: 102px;
    top: 26px;
    background: url("../img/svg/title-desktop.svg") center no-repeat;
  }

  @include vp-1023 {
    font-size: 30px;
    padding: 20px 100px 20px 59px;
    margin: 0 0 40px;

    &::before {
      left: 34px;
      top: 20px;
      width: 19px;
      height: 38px;
      background: url("../img/svg/title-tablet.svg") center no-repeat;
    }
  }
}

/*.title-desktop {
  font-size: 50px;
  padding: 42px 100px 43px 166px;
  position: relative;
  margin: 0 0 80px;

  &::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 99px;
    left: 102px;
    top: 26px;
    background: url("../img/svg/title-desktop.svg") center no-repeat;
  }
}*/
