.honors__item-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(20px, auto));
  grid-template-rows: repeat(2, minmax(80px, auto));
  gap: 11px;

  @include vp-1023 {
    border-bottom: 6px solid #18bcbc;
    grid-template-rows: repeat(2, minmax(50px, auto));
    gap: 5px;
  }

  @include vp-767 {
    grid-template-rows: repeat(2, minmax(20px, auto));
    border-bottom: none;
    padding: 0 20px;
    gap: 0;
  }
}

.honors__item-content h4 {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 65px;
  line-height: normal;
  font-weight: 500;
  color: rgba(#34d8d8, 40%);
  -webkit-text-stroke: 3px #18bcbc;
  grid-column: 1;
  grid-row: 1;

  @include vp-1023 {
    -webkit-text-stroke: 2px #18bcbc;
    font-size: clamp(2.18rem, 1.92rem + 0.71vw, 2.56rem);
  }

  @include vp-767 {
    -webkit-text-stroke: 1px #18bcbc;
    font-size: clamp(1rem, 0.95rem + 0.12vw, 1.06rem);
  }
}

.honors__item-content p {
  grid-column: 1/-1;
  color: #18bcbc;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -1.5px;
  background-color: transparent;
  text-align: left;
  padding: 0;

  @include vp-1023 {
    font-size: clamp(1.12rem, 1.03rem + 0.24vw, 1.25rem);
  }

  @include vp-767 {
    font-size: clamp(0.75rem, 0.66rem + 0.23vw, 0.87rem);
    letter-spacing: 0.5px;
  }
}

.honors__icon {
  align-self: center;
  justify-self: end;
  fill: transparent;

  @include vp-1023 {
    width: 38px;
    height: 38px;
  }

  @include vp-767 {
    width: 22px;
    height: 22px;
  }
}

.honors__icon--small {
  @include vp-1023 {
    width: 47px;
    height: 47px;
  }

  @include vp-767 {
    width: 29px;
    height: 29px;
  }
}

.honors__item-arrows {
  @include vp-1023 {
    display: none;
  }
}

.honors__item-arrows svg {
  fill: transparent;
}

.honors__item-wrap-mobile {
  display: none;

  @include vp-767 {
    display: block;
    grid-row: 1/-1;
    grid-column: 2;
    background-color: #18bcbc;
  }
}

.honors__item-wrap-two-mobile {
  display: none;

  @include vp-767 {
    display: block;
    grid-row: 2;
    grid-column: 1/-1;
    background-color: #18bcbc;
  }
}

.honors__item-content--penultimate {
  @include vp-767 {
    grid-row: 3;
    grid-column: 1;
  }
}

.honors__item-content--last-thing {
  @include vp-767 {
    grid-row: 3;
    grid-column: 3;
  }
}
