.header {
  width: 100%;
  padding: 0;
  margin: 0 0 142px;

  @include vp-1023 {
    height: auto;
    margin: 0 0 80px;
  }
}

.header__wrapper {
  padding: 0 0 100px;
  position: relative;
}

.header__container-menu {
  max-width: 1716px;
  display: flex;
  flex-direction: column;
  padding: 40px 100px 22px;
  gap: 30px 0;
  position: relative;
  z-index: 2;
  margin: 0 auto 90px;
}

.header__logo-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logotype {
  user-select: none;

  @include vp-1023 {
    max-width: 99px;
  }
}

.header__social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 15px 56px;

  @include vp-1023 {
    gap: 15px 20px;
  }

  @include vp-767 {
    display: none;
  }
}

.header__social-link {
  display: block;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
    box-shadow: 6px 6px 10px #116b6b;
  }
}

.header__svg-desktop {
  display: block;
  width: calc(5vw - 0.21vw);
  height: calc(5vw - 0.21vw);

  @include vp-1023 {
    width: calc(4vw - 0.38vw);
    height: calc(4vw - 0.38vw);
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  position: relative;
  z-index: 2;
}

.header__content h2 {
  max-width: 933px;
  color: #ffffff;
  text-align: center;
  font-family: "PT_SansCaption-Bold", "Arial", sans-serif;
  font-size: 60px;
  line-height: normal;
  margin: 0 0 23px;

  @include vp-1023 {
    max-width: 402px;
    font-size: 30px;
    margin: 0 0 14px;
  }
}

.header__content p {
  max-width: 637px;
  color: #ffffff;
  margin: 0 0 29px;
  text-align: center;
  font-size: 37px;
  line-height: normal;

  @include vp-1023 {
    max-width: 367px;
    font-size: 20px;
    margin: 0 0 36px;
  }
}

.header__button {
  color: #ffffff;
  text-align: center;
  font-family: "PTSansCaption-Bold", "Arial", sans-serif;
  font-size: 35px;
  line-height: normal;
  padding: 23px;
  border-radius: 10px;
  background: #18bcbc;
  border: none;
  width: 748px;

  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
    box-shadow: 3px 3px 15px rgba(13, 148, 148, 0.6);
    text-shadow: 3px 3px 6px #116b6b;
  }

  @include vp-1023 {
    font-size: 17px;
    width: 402px;
    padding: 13px;
  }
}

.header__overlay {
  position: absolute;
  z-index: 1;
  top: 1px;
  width: 100%;
  min-height: 1101px;
  background: linear-gradient(180deg, #18bcbc 16.77%, rgba(#18bcbc, 0) 85.61%);

  @include vp-1023 {
    min-height: 678px;
  }
}

.header__background {
  position: absolute;
  z-index: 0;
  top: 80px;
  width: 100%;
  max-height: 1024px;

  @include vp-1023 {
    max-height: 600px;
  }
}

.header__background img {
  object-fit: cover;
  background-color: #ffffff;
  width: 100%;
  max-height: 1024px;

  @include vp-1023 {
    max-height: 600px;
  }
}

.header__button-burger {
  display: none;

  @include vp-1023 {
    display: none;
  }

  @include vp-767 {
    display: block;
  }
}
