.header {
  width: 100%;
  padding: 0;
  margin: 0 0 142px;

  @include vp-1023 {
    height: auto;
    margin: 0 0 80px;
  }

  @include vp-767 {
    margin: 0 0 80px;
  }
}

.header__wrapper {
  padding: 0 0 100px;
  position: relative;

  @include vp-767 {
    padding: 0;
  }
}

.header__container-menu {
  position: relative;
  /*max-width: 1716px;*/
  display: flex;
  flex-direction: column;
  padding: 40px 100px 40px;
  gap: 3vh 0;
  z-index: 2;
  /*margin: 0 auto 90px;*/
  background-color: #18bcbc;

  @include vp-1023 {
    padding: 10px 30px 20px;
    gap: 14px 0;
  }

  @include vp-767 {
    margin: 0;
    padding: 10px 30px 0;
  }
}

.header__logo-media {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 100%));
    grid-template-rows: repeat(2, minmax(42px, auto));
    justify-items: center;
  }
}

.header__logotype {
  user-select: none;

  @include vp-1023 {
    max-width: 99px;
  }

  @include vp-767 {
    z-index: 200;
  }
}

.header__social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 15px 56px;

  @include vp-1023 {
    gap: 15px 5vw;
  }

  @include vp-767 {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-content: center;
    gap: 15px 2vw;
  }
}

.header__logo {
  width: 12.79vw;
  height: 6.7vw;

  @include vp-1023 {
    width: 99px;
    height: 53px;
  }

  @include vp-767 {
    width: 80px;
    height: 50px;
  }
}

.header__social-link {
  display: block;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
    box-shadow: 2px 2px 10px #ffffff;
  }
}

.header__svg-desktop {
  display: block;
  width: calc(5vw - 0.21vw);
  height: calc(5vw - 0.21vw);

  @include vp-1023 {
    width: 37px;
    height: 37px;
  }

  @include vp-767 {
    width: 32px;
    height: 32px;
  }
}

.header__container-promo {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
}

.header__content {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  position: relative;
  z-index: 2;
  gap: 4vh 0;
  background-color: rgba(#18bcbc, 50%);

  @include vp-1023 {
    padding: 25px 50px;
    gap: 10px 0;
  }

  @include vp-767 {
    padding: 20px;
    gap: 1vh 0;
  }
}

.header__content h2 {
  max-width: 933px;
  color: #ffffff;
  text-align: center;
  font-family: "PT_SansCaption-Bold", "Arial", sans-serif;
  font-size: clamp(3.44rem, 3.21rem + 0.59vw, 3.75rem);
  line-height: normal;
  margin: 0 0 23px;

  @include vp-1023 {
    max-width: 402px;
    font-size: 30px;
    margin: 0 0 14px;
  }

  @include vp-767 {
    max-width: 280px;
    font-size: clamp(1.31rem, 1.16rem + 0.96vw, 1.62rem);
    margin: 0 0 10px;
  }
}

.header__content p {
  color: #ffffff;
  margin: 0 0 29px;
  text-align: center;
  font-size: clamp(1.87rem, 1.56rem + 0.83vw, 2.31rem);
  line-height: normal;

  @include vp-1023 {
    max-width: 367px;
    font-size: 20px;
    margin: 0 0 36px;
  }

  @include vp-767 {
    max-width: 256px;
    font-size: clamp(0.87rem, 0.81rem + 0.38vw, 1rem);
    margin: 0 0 25px;
  }
}

.header__button {
  color: #ffffff;
  text-align: center;
  font-family: "PTSansCaption-Bold", "Arial", sans-serif;
  font-size: 35px;
  line-height: normal;
  padding: 23px;
  border-radius: 10px;
  background: #18bcbc;
  border: 4px solid #129696;
  width: 100%;
  max-width: calc(100% - 20%);
  grid-column: 1/-1;
  grid-row: 2;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #ffffff;
    box-shadow: 3px 3px 15px rgba(13, 148, 148, 0.6);
    text-shadow: 3px 3px 6px #116b6b;
  }

  @include vp-1023 {
    font-size: 17px;
    padding: 13px;
  }

  @include vp-767 {
    font-size: clamp(0.87rem, 0.81rem + 0.38vw, 1rem);
    align-self: center;
    margin: 0 auto;
  }
}

.header__overlay {
  position: absolute;
  z-index: 1;
  top: 1px;
  width: 100%;
  min-height: 1100px;

  @include vp-1023 {
    min-height: 678px;
  }

  @include vp-767 {
    min-height: 400px;
  }
}

.header__background {
  /*position: absolute;
  z-index: 0;
  top: 80px;*/
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1;
}

.header__background img {
  object-fit: cover;
  background-color: #ffffff;
  width: 100%;
  max-height: 890px;
  min-height: 845px;
  user-select: none;

  @include vp-1023 {
    min-height: 617px;
  }

  @include vp-767 {
    min-height: 396px;
  }
}

.header__swiper {
  width: 100%;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.header__burger {
  cursor: pointer;
  display: none;
  outline: none;
  width: 100%;
  height: 51px;
  padding: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 50;
  user-select: none;
  grid-column: 1/-1;
  grid-row: 2;

  @include vp-767 {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.header__burger-span {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #f9fbfd;
  left: 46%;
  transition: background-color 0.3s, opacity 0.3s, transform 0.5s;
  will-change: transform;
}

.header__burger:hover .header__burger-span,
.header__burger:focus .header__burger-span,
.header__burger:active .header__burger-span {
  box-shadow: 0 1px 3px #f9fbfd;
}

.header__burger-span:first-child {
  transform: translateY(-8px);
}

.header__burger-span:nth-child(2n) {
  transform: translateY(-2px);
}

.header__burger-span:last-child {
  transform: translateY(4px);
}

.header__container-menu.open .header__burger-span {
  background-color: #f9fbfd;
}

.header__container-menu.open .header__burger-span:first-child {
  transform: translateY(0) rotate(45deg);
}

.header__container-menu.open .header__burger-span:nth-child(2n) {
  opacity: 0;
}

.header__container-menu.open .header__burger-span:last-child {
  transform: translateY(0) rotate(-45deg);
}


.header__container-menu.open .menu {
  @include vp-767 {
    transform: translateX(-100%);
    visibility: visible;
    z-index: 25;
  }
}

.header__container-menu.open {
  @include vp-767 {
    margin-right: 0;
    width: 100%;
  }
}

.header__container-menu.open body {
  @include vp-767 {
    overflow-x: hidden;
  }
}

.header__container-menu.open .menu__link {
  @include vp-767 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #f9fbfd;
  }
}

.header__overlay-menu {
  display: none;
}

.header__container-menu.open .header__overlay-menu {
  display: none;

  @include vp-767 {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#18bcbc, 0.5);
    z-index: 20;
    cursor: pointer;
  }
}

.header__container-menu.open .header__container-promo .header__content h2 {
  display: none;
}

.header__wrapper.active .header__content {
  z-index: -1;
}


/*
.header__burger-menu {
  display: none;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
}

.header__burger-menu-line {
  width: 100%;
  height: 2px;
  background-color: black;
}
*/
