.menu {
  @include vp-767 {
    position: absolute;
    right: -100%;
    top: 110px;
    width: 100%;
    height: 426px;
    background-color: #18bcbc;
    visibility: hidden;
    transition: transform 0.5s, visibility 0.5s;
    will-change: transform;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  gap: 15px 0;

  @include vp-767 {
    padding: 10px 30px 70px 26px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 8px;
  }
}

.menu__item {
  @include vp-767 {
    width: 100%;
    text-align: left;
  }
}

.menu__link {
  display: block;
  color: #ffffff;
  font-size: clamp(1.4rem, -0.3rem + 2.33vw, 2.85rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 5px 0 5px;
  box-sizing: border-box;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #ffffff;
    text-shadow: 2px 2px 0 #1a9a9a;
    text-decoration: underline;
  }

  @include vp-1023 {
    font-size: clamp(0.84rem, 0.55rem + 0.77vw, 1.25rem);
    padding: 7px;
  }

  @include vp-767 {
    display: flex;
    text-align: left;
    gap: 10px;
    align-items: center;
  }
}

.menu__svg {
  display: none;

  @include vp-767 {
    display: block;
    width: 15px;
    height: 32px;
  }
}
