.thread-lifting__accordion {
  margin: 0;
  padding: 0;
}

.thread-lifting__accordion-button {
  grid-column: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: "PTSansCaption-Bold", "Arial", sans-serif;
  font-size: 25px;
  gap: 0 20px;
  background-color: #18bcbc;
  border: 0;
  padding: 5px 10px 4px 36px;
}

.thread-lifting__accordion-button p {
  margin: 0;
}

.thread-lifting__icon {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thread-lifting__icon svg {
  margin: auto;
}

.thread-lifting__icon-open--hidden,
.thread-lifting__icon-close--hidden {
  display: none;
}

.thread-lifting__accordion-wrapper {
  padding: 0;
}

.thread-lifting__accordion-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.thread-lifting__link {
  display: block;
  font-family: "PTSansCaption-Bold", "Arial", sans-serif;
  font-size: 25px;
  color: #ffffff;
  padding: 20px 10px 20px 36px;
}
