.thread-lifting__accordion {
  margin: 0;
  padding: 0;
}

.thread-lifting__accordion-button {
  grid-column: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: "PTSansCaption-Bold", "Arial", sans-serif;
  font-size: 25px;
  gap: 0 20px;
  background-color: #18bcbc;
  border: 0;
  padding: 5px 10px 4px 36px;

  @include vp-1023 {
    font-size: 16px;
    padding: 7px 8px 6px 20px;
  }

  @include vp-767 {
    padding: 9px 20px;
    font-size: clamp(1rem, 0.82rem + 0.47vw, 1.25rem);
  }
}

.thread-lifting__icon {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thread-lifting__icon-wrapper img {
  @include vp-1023 {
    width: 36px;
    height: 36px;
  }
}

.thread-lifting__icon-open--hidden,
.thread-lifting__icon-close--hidden {
  display: none;
}

.thread-lifting__accordion-wrapper {
  padding: 0;
}

.thread-lifting__accordion-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.thread-lifting__link {
  display: block;
  font-family: "PTSansCaption-Bold", "Arial", sans-serif;
  font-size: 25px;
  color: #ffffff;
  padding: 20px 10px 20px 36px;

  @include vp-1023 {
    font-size: 16px;
    padding: 15px 8px 14px 20px;
  }
}
