.footer {
  width: 100%;
  background-color: #18bcbc;
}

.footer__wrapper {
  max-width: 1718px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, auto));
  grid-template-rows: repeat(auto-fit, minmax(auto, auto));
  justify-content: space-between;
  margin: 0 auto;
  padding: 113px 50px;

  @include vp-1279 {
    gap: 0 10px;
  }

  @include vp-1023 {
    grid-template-columns: minmax(auto, 300px) minmax(auto, 437px);
    grid-template-rows: repeat(auto-fit, minmax(auto, 166px));
    padding: 40px 50px;
    gap: 30px 10px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
  }
}

.footer__logo {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-1023 {
    grid-column: 1;
    grid-row: 1;
  }
}

.footer__logo-wrapper img {
  @include vp-1023 {
    max-width: 200px;
  }

  @include vp-767 {
    max-width: 176px;
  }
}

.footer__list {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, auto));
  grid-template-rows: repeat(auto-fit, minmax(40px, auto));
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: auto auto;
  list-style-type: none;
  gap: 15px 30px;

  @include vp-1023 {
    grid-template-rows: repeat(auto-fit, minmax(40px, auto));
    grid-column: 2;
    grid-row: 1;
    gap: 10px 5px;
    margin: 0 auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 30px;
    margin: 0 auto;
    align-items: start;
    justify-content: space-between;
  }
}

.footer__item a {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  color: #ffffff;
  font-size: clamp(1.25rem, 0.8rem + 1.19vw, 1.87rem);
  line-height: normal;

  @include vp-1023 {
    font-size: clamp(1.37rem, 1.15rem + 0.59vw, 1.68rem);
    gap: 10px;
  }

  @include vp-767 {
    font-size: clamp(1.18rem, 0.92rem + 0.71vw, 1.56rem);
  }

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #ffffff;
    text-shadow: 2px 2px 0 #1a9a9a;
  }
}

.footer__social-list {
  grid-column: 3;
  display: flex;
  gap: 15px 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 400px;

  @include vp-1023 {
    grid-column: 1/-1;
    grid-row: 2;
    flex-direction: row;
    align-self: center;
    max-width: 100%;
  }

  @include vp-767 {
    margin: 0 auto;
  }
}

.footer__social-link {
  display: flex;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #ffffff;
    box-shadow: 2px 2px 10px #ffffff;
    text-shadow: 3px 3px 6px #116b6b;
  }
}

.footer__link svg {
  width: 19px;
  height: 38px;
  fill: #ffffff;

  @include vp-1023 {
    width: 16px;
    height: 32px;
  }
}

.footer__social-link svg {
  width: 72px;
  height: 72px;

  @include vp-1023 {
    width: 49px;
    height: 49px;
  }
}

.footer__link-services,
.footer__link-contacts {
  display: flex;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: clamp(1.25rem, 0.8rem + 1.19vw, 1.87rem);
  line-height: normal;
  gap: 15px;

  @include vp-1023 {
    font-size: clamp(1.37rem, 1.15rem + 0.59vw, 1.68rem);
    gap: 10px;
  }

  @include vp-767 {
    font-size: clamp(1.18rem, 0.92rem + 0.71vw, 1.56rem);
  }

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #ffffff;
    text-shadow: 2px 2px 0 #1a9a9a;
  }
}
