.detailed {
  width: 100%;
  margin-bottom: 180px;

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.detailed__wrapper {
  max-width: 1600px;
  padding: 0 100px;
  margin: 0 auto 70px;

  @include vp-1023 {
    padding: 0 30px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.detailed__content {
  display: flex;
  border-radius: 40px;
  background: linear-gradient(90deg, #18bcbc 38.92%, rgba(#18bcbc, 0) 60.87%);

  @include vp-1279 {
    background: #18bcbc;
    align-items: center;
    justify-content: center;
  }

  @include vp-767 {
    background: transparent;
  }
}

.detailed__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 627px;
  margin: 0 auto;
  padding: 20px;

  @include vp-1279 {
    max-width: 100%;
    margin: 0;
    padding: 15px;
    gap: 30px;
  }

  @include vp-767 {
    padding: 0;
    gap: 10px;
  }
}

.detailed__item {
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    content: "";
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  @include vp-1279 {
    font-size: clamp(1.25rem, 1.16rem + 0.23vw, 1.37rem);

    &::before {
      content: "";
      min-width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }

  @include vp-1023 {
    gap: 10px;
  }

  @include vp-767 {
    background-color: #18bcbc;
    min-height: 75px;

    &::before {
      content: "";
      position: absolute;
      left: 20px;
      min-width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }
}

.detailed__item p {
  color: #ffffff;
  font-size: clamp(1.56rem, 1.51rem + 0.11vw, 1.62rem);
  line-height: normal;
  margin: 0;

  @include vp-1279 {
    font-size: clamp(1.25rem, 1.16rem + 0.23vw, 1.37rem);
  }

  @include vp-767 {
    font-size: clamp(1rem, 0.95rem + 0.11vw, 1.06rem);
    padding: 6px 20px 6px 45px;
  }
}

.detailed__photo {
  display: block;

  @include vp-1279 {
    display: none;
  }
}

.detailed__prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #18bcbc;
}

.detailed__prices-content {
  padding: 17px 17px 20px;
}

.detailed__prices-content h3 {
  font-size: clamp(1.87rem, 1.78rem + 0.23vw, 2rem);
  color: #ffffff;
  padding: 10px;
  margin: 0 0 10px;

  @include vp-1023 {
    font-size: clamp(1.25rem, 0.93rem + 0.83vw, 1.68rem);
    padding: 5px;
  }
}

.detailed__prices-content p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(1.56rem, 1.47rem + 0.23vw, 1.68rem);
  color: #ffffff;
  gap: 5px;
  padding: 10px;
  margin: 0 0 10px;

  @include vp-1023 {
    font-size: clamp(1.37rem, 1.33rem + 0.11vw, 1.43rem);
    padding: 5px;
  }
}

.detailed__prices-icon {
  width: 25px;
  height: 25px;

  @include vp-1023 {
    width: 21px;
    height: 21px;
  }
}

.detailed__prices-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #18bcbc;
  font-size: clamp(1.56rem, 1.47rem + 0.23vw, 1.68rem);
  background-color: #ffffff;
  border-radius: 5px;
  min-height: 60px;
  user-select: none;

  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
    background-color: rgba(#f9fbfd, 50%);
    border: 3px solid #0d9797;
    text-shadow: 2px 2px 1px #0d9797;
  }

  @include vp-1023 {
    font-size: clamp(1.25rem, 0.93rem + 0.83vw, 1.68rem);
  }
}
