.gorogantseva {
  max-width: 100%;
  margin-bottom: 180px;

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.gorogantseva__title {
  margin-bottom: 60px;
}

.gorogantseva__wrapper {
  margin: 0 0 80px;
}
